* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans", Verdana, sans-serif;
}

html, body {
	scroll-behavior: smooth;
}

:root {
	--cor-fundo: #2a2a2a;
	--cor-texto: #ffffff;
	--cor-preta: #000000;
	--cor-hover: #656565;
	--cor-primaria: #00585b;
	--cor-secundaria: #868989;
}

.home-container {
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
    grid-template-columns: 1fr;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

/* Tablet */
@media (min-width: 768px) {
  .home-container {
    grid-template-areas:
      "header header"
      "main   aside"
      "footer footer";
    grid-template-columns: 1fr 60vw;
    grid-template-rows: 60vw 1;
  }

  .main {
    /* ocupa 80% da largura da viewport */
    width: 60vw;
    /* centraliza horizontalmente */
    margin: 0 auto;
  }
  .main p {
    font-size: 15px;
    text-align: justify;
  }

}

/* @media (min-width: 1024px) {
  .home-container {
    grid-template-areas:
      "header header"
      "main   aside"
      "footer footer";
    grid-template-columns: 1fr 2fr;
  }

  .main p {
    font-size: 15px;
  }

} */

.navbar {
    grid-area: header;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
    background-color: yellow;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    list-style: none;

    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 10px;
    color: var(--cor-preta);
}

.navbar ul li a img {
    max-width: 50px;
} 

.navbar button {
    max-width: 100%;
    font-size: 9px;
    border-radius: 30px;
    padding: 0.05rem 0.5rem;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.main {
    grid-area: main;
    padding: 20px 20px 20px 20px;
    background-color: red;
    width: 100%;
}

main p {
    font-size: 9px;
}
.aside {
    grid-area: aside;
    background-color: green;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.aside img {
    max-width: 100%;
    width: 50%;
    height: auto;

    border-radius: 180px;
}

.footer {
    grid-area: footer;
    background-color: blue;
}

