* { box-sizing: border-box; }

body, h1, h2, ul, p {
    font-family: Verdana, sans-serif;
    color:orangered;
}

div.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem 4rem;
}

h1, h2, p {
    margin-bottom: 3rem;
}

.negrito {
    font-weight: bold;
}